<%- include("header.ejs")%> <%- include("menu.ejs")%>

<body>
	<div>
		<% products.forEach((product) => { %>
		<p>
			<%= product.header %>
			<br />
			<%= product.descriptions %>
			<br />
			<a href="/delete/<%= product._id %>">Delete</a>
		</p>
		<% }) %>
	</div>
</body>

<%- include("footer.ejs")%>
