<%- include("header.ejs")%>
<%- include("menu.ejs") %>

<body>
	<div class="productList">
		<% products.forEach(product => { %>

		<div class="productItem">
			<div class="lghphotoDiv">
				<img class="productPhoto" src="<%= product.url1 %>">
				<img class="productPhoto" src="<%= product.url2 %>">
				<img class="productPhoto" src="<%= product.url3 %>">
			</div>

			<div class="lghInfoDiv">
				<p class="product__name"><%= product.header %></p>
				<p class="product__info"><%= product.smallheader %></p>
				<p class="product__desc"><%= product.descriptions %></p>
				<p class="product__url"><%= product.room %></p>
				<p class="product__url"><%= product.price %></p>
			</div>
			<div class="lghUxDiv">
				<a href="/wishlist/<%= product._id %>"><i class="fa fa-heart"></i></a>
				<a href="/addToCart/<%= product._id %>"><i class="fa fa-shopping-cart"></i></a>
			</div>
		</div>
		<% }) %>
	</div>


	<!-- PAGINATION- EJ FUNGERNADE ÄN  -->
	<% if(products.length >=1 ){ %>
	<div class="pagination">
		<% if(currentPage !==1 && previousPage !==1){ %>
		<a href="/product/?page=<%=page=1%>">1</a>
		<% } %> <% if (hasPreviousPage) { %>
		<a href="/product/?page=<%= prevoiusPage%>"><%= prevoiusPage %></a>
		<% } %> <% if(hasNextPage) { %>
		<a href="/product/?page=<%=nextPage %>"><%nextPage%></a>
		<% } %> <% if(currentPage) { %>
		<a href="/product/?page=%=currentPage%>"><%=currentPage%></a>
		<% } %> <% if(lastPage !==currentPage && nextPage !==lastPage) { %> <% } %>
		<% if(lastPage !== currentPage && nextPage !== lastPage ) { %>
		<a href="/product/?page=<%=lastPage%>"><%=lastPage%></a>
		<% } %>
	</div>
	<% }%>
</body>

<%- include("productFooter.ejs")%>